body {
  font-family: "Poppins", sans-serif;
  background: var(--main-color);
}

.container {
  width: 100%;
  max-width: 1700px;
  padding: 0 10px;
  margin: 0 auto;
}

.btn {
  color: #fefefe;
  font-family: Poppins;
  font-size: 24px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  letter-spacing: -0.72px;
  border-radius: 7px;
  background: #000;
  transition: all 0.2s linear;
}

.btn:hover {
  color: #969090;
  background: #181717;
}

.header_btn {
  width: 134px;
  height: 62px;
  flex-shrink: 0;
}

.elipse {
  position: relative;
}

.elipse::after {
  position: absolute;
  content: "";
  background: url(../img/icons/decor-yellow.svg);
  width: 190px;
  height: 32px;
  display: block;
  top: 0px;
  left: 0;
}

.elipse--intro {
  top: 60px;
}

.elipse--title {
  position: relative;
}

.elipse--title::after {
  position: absolute;
  content: "";
  background: url(../img/icons/decor-yellow.svg);
  width: 190px;
  height: 32px;
  display: block;
  bottom: -5px;
  left: 213px;
  z-index: -1;
}

.section-title {
  color: #000;
  font-family: Poppins;
  font-size: 48px;
  font-style: normal;
  font-weight: 900;
  line-height: 50px;
  letter-spacing: 2.88px;
  text-transform: uppercase;
}

